body {
	padding: 70px;
}

p {
	cursor: pointer;
	margin: 0px;
}

.list-group-item {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.complete {
	text-decoration: line-through;
}

.todo-title {
	border-bottom: 1px solid lightGrey;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.fake-input {
	border: 0;
}